@{
    ViewBag.Title = "paymobd";
}
<meta name="google-site-verification" content="jmHCtEWJ2IUEo3Ue7MEKe7odMarCMea4HIdYgT5QS-s" />

<meta name="description" itemprop="Description" content="Recharge, refill, topup Bangladeshi Mobile phone from anywhere of the world, buy banglalion and quebee cards,
         faster and reliable service. Secure and faster payments with Paypal" />
<meta name="keywords" itemprop="keywords" content="recharge bangladeshi mobile, top up mobile online,
     bangladeshi mobile top up, bangladeshi mobile recharge, online top up, top up online,
     grameen phone recharge, grameen phone top up, flexi load, 
    banglalink recharge, i top up, citycell mobile top up, 
    airtel mobile recharge, robi recharge, easy load, 
    send money to bd mobile, bangladeshi operator recharge, 
    grameen mobile, flexi mobile,
    buy bangladeshi internet pre-paid card, buy banglalion card, 
        buy quebee pre-paid card,buy quebee card,buy banglalion pre-paid card" />


<p class="hide-in-mobile">
    <a style="color: maroon; font-weight: bold">PayMoBD</a> বাংলাদেশের মোবাইল এ টাকা ভরার সবচে সহজ এবং সস্তা ওয়েবসাইট। এখানে আপনি
    <a style="color: chocolate">গ্রামীন ফোন</a>, <a style="color: chocolate">এয়ারটেল</a>,<a style="color: chocolate"> রবি</a>,
    <a style="color: chocolate">সিটিসেল</a>,<a style="color: chocolate"> টেলিটক</a>,<a style="color: chocolate"> বাংলালিঙ্ক</a> সহ <a style="color: chocolate">বাংলালাইওন</a>
    এবং <a style="color: chocolate">কিউবি</a> তে টাকা ভরতে পারবেন। 
</p>
@section left_body{
    <div class="banner">
        <p>
            সরাসরি মোবাইল রিফিল
        </p>
    </div>
    @Html.Action("Instant_refill_bangla", "Home")
    <p style="font: 12px Tahoma; color: #333">
        উপরের ফর্ম দিয়ে আপনি রেজিস্ট্রেশান না করে টাকা পাঠাতে পারবেন
    </p>
}
@section right_body{
    <div class="banner">
        <p>
            নিচে লগইন করুন বা    
            @Ajax.ActionLink("রেজিস্টার করুন", "Register_bangla", "Account", new AjaxOptions
       {

           UpdateTargetId = "right_body_data",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET"
       })
        </p>
    </div>
    <div id="right_body_data">
        @Html.Action("Login_bangla", "Account")
    </div>
}

@section bottom_body{

    <iframe class="only-mobile"
        src="//www.facebook.com/plugins/like.php?href=https://www.facebook.com/paymobd?ref=hl;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21"
        scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 40px; height: 39px"
        allowtransparency="true"></iframe>
    <div class="only-mobile">
        @Html.ActionLink("English Site", "Index", "Home")
    </div>
    <p style="font: 12px Tahoma">
        <a style="color: red">বিঃদ্রঃ</a> দয়া করে টাকা পাঠানোর পর PayPal পেজ বন্ধ করবেন না।
        আমাদের সাইট এর লিংক ব্যবহার করে আমাদের সাইট এ ফিরে আসুন। তাতে আপনার টাকা দ্রুত পাঠানো হবে।
    </p>
}

@section news{
    <div>
        @Html.ActionLink("English Site", "Index", "Home")
    </div>
    <div class="banner_colored">
        PayMoBD Rates
    </div>
    <div>
        @Ajax.ActionLink("Instant Refill Rates", "Instant_Refill_rates", "AjaxViews", new AjaxOptions
{
    UpdateTargetId = "section1",
    LoadingElementId = "ajaxloader1",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET"
})
    </div>
    <div>
        @Ajax.ActionLink("Refill by  wallet facilities", "Refill_by_wallet_rates", "AjaxViews", new AjaxOptions
{
    UpdateTargetId = "section1",
    LoadingElementId = "ajaxloader1",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET"
})
    </div>
    <div>
        @Ajax.ActionLink("Wallet Refill Rates", "wallet_refill_rates", "AjaxViews", new AjaxOptions
{
    UpdateTargetId = "section1",
    LoadingElementId = "ajaxloader1",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET"
})
    </div>
    <div>
        @Html.ActionLink("Rate Comparison", "price_comparison", "AjaxViews")
    </div>
    <div>
        @Html.ActionLink("100% money back", "money_back", "AjaxViews")
    </div>

    <br />
    <div id="ajaxloader1">
        <img src="../../Content/ajax-loader.gif" />
    </div>
    <div id="section1">
    </div>
    <div>
        <img src="../../Content/paypal.jpg" height="120" width="150" />
    </div>
    <div>
        <img src="../../Content/money_back.jpg" height="120" width="150" />
    </div>
}
