@model paymobd.Models.Transection

<script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm("refill_by_wallet", "Home"))
{
    @Html.ValidationSummary(true)
    
    <input type="text" name="username" value="@User.Identity.Name" hidden="hidden"/>
    <input type="text" name="transection_date" value="@DateTime.Now" hidden="hidden" />
    <table class="editor">
        <tr>
            <th>
                @Html.Label("Number:")
            </th>
            <td>
                +88 @Html.EditorFor(model => model.mo_number)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.mo_number)
            </td>
        </tr>
        <tr>
            <th>
                @Html.Label("Confirm Number:")
            </th>
            <td>
                +88 @Html.EditorFor(model => model.ConfirmNumber)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.ConfirmNumber)
            </td>
        </tr>
        <tr>
            <th>
                @Html.Label("Amount(BDT):")
            </th>
            <td>
                @Html.DropDownListFor(model => model.transection_ammount, new SelectList(ViewBag.ammount))
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.transection_ammount)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Refill Now" />
            </td>
            <td>
            </td>
        </tr>
    </table>
}

