@model paymobd.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}
<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength
    characters in length.
</p>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("ChangePassword", "Account"))
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

    <table class="editor">
        <tr>
            <th>
                @Html.LabelFor(m => m.OldPassword)
            </th>
            <td>
                @Html.PasswordFor(m => m.OldPassword)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.OldPassword)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(m => m.NewPassword)
            </th>
            <td>
                @Html.PasswordFor(m => m.NewPassword)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.NewPassword)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(m => m.ConfirmPassword)
            </th>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Change password" />
            </td>
            <td>
            </td>
        </tr>
    </table>
}
<p>@Html.ActionLink("Cancel", "myprofile", "Home")
</p>
