@model paymobd.Models.LoginModel
<script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@using (Html.BeginForm("Login", "Account"))
{
    @Html.ValidationSummary(true)
    <table class="editor">
        <tr>
            <th>
                @Html.Label("UserName:")
            </th>
            <td>
                @Html.EditorFor(model => model.UserName)
            </td>
            <td class="validation">
                @Html.ValidationMessageFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.Label("Password:")
            </th>
            <td>
                @Html.EditorFor(model => model.Password)
            </td>
            <td class="validation">
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="RememberMe" value="true" />
            </td>
            <td>
                <input type="submit" value="Login" />
            </td>
    </table>
}
<p style="font: 10px Tahoma; color:#333">
    Registered users can <a style="font: 10px Tahoma;color:Red">Track their transections</a>,
    <a style="font: 10px Tahoma;color:Red">Use PayMoBD unique Wallet facility</a> and
    <a style="font: 10px Tahoma;color:Red">Refill cheaply using wallet money</a></p>
